<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card-header>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>

        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}"alt="{{dish.name}}">
        <mat-card-content>
          <p>
            {{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
  </div>

  <div fxFlex="40">
    
    <mat-list *ngIf="dish" [@visibility]="visibility" [@expand]>
      <h3>Comments</h3>
   <mat-list-item *ngFor="let comment of dish.comments">
      <h4 matLine>{{comment.comment}}</h4>
      <p matLine>{{comment.rating}} stars</p>
      <p matLine>
          <span>{{comment.author}} {{comment.date | date:medium}}</span>
      </p>
   </mat-list-item>

   <div fxFlex fxFlexOffset="20px" class="form-size">
    
    <p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>

    <form novalidate [formGroup]="commentForm" #cForm="ngForm" (ngSubmit)= "onSubmit()">
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Author Name" type="text" required>
          <mat-error *ngIf="formErrors.author">
            {{formErrors.author}}
          </mat-error>
        </mat-form-field>
        <br>Your Ratings
        <mat-form-field>
          <mat-slider
            class="half-width"
            [disabled]="disabled"
            [invert]="invert"
            [max]="max"
            [min]="min"
            [step]="step"
            [thumbLabel]="thumbLabel"
            [tickInterval]="getSliderTickInterval()"
            value={{rating}}
            formcontrolname="rating"
            [vertical]="vertical"
            (input)="onInputChange($event)">
            
          </mat-slider>

          <mat-error *ngIf="formErrors.rating">
            {{formErrors.rating}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.comment">
            {{formErrors.comment}}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button [class]="commentForm.invalid?'':'background-primary text-floral-white'"
        [style]="commentForm.invalid?'background-color:#9575CD':''"
        [disabled]="commentForm.invalid">Submit</button>
    </form>and
  </div>




<div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>







